body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    font-family: sans-serif, Impact, 'Arial Narrow Bold';
    background-color: #181818;
    color: white;
}

@media only screen and (max-width: 800px) {
    .image-container {
        display: none !important;
    } 
    
    .content-container {
        background-image: url(images/vision_of_the_gas_giant.jpg);
        background-size: cover;
        height: auto;
    }
}

.image-container {
    flex: 1;
    background-image: url(images/vision_of_the_gas_giant.jpg);
    background-size: cover;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 250px;
}

.logo a {
    display: block;
}

.logo img {
    width: 200px;
    height: 200px;
}

.content-container {
    flex: 2;
    padding-top: 50px;
}

.head-container {
    padding: 0px 25px;
    margin-bottom: 50px;
}

form {
    background-color:#202020;
    padding: 10px 25px;
    box-shadow: 5px 5px 5px black;
}

.form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.input-wrapper {
    flex: 1;
    position: relative;
    margin: 20px;
}

label {
    position: absolute;
    top: -45px;
    left: 0;
    display: flex;
    align-items: center;
    cursor: text;
}

input, label {
    font-size: 0.75rem;
    width: 200px;
    height: 35px;
}

input {
    border: 0;
    border-bottom: 3px solid #dfdfdf;
    background-color: #303030;
    color: white;
}

.error-message {
    color: red;
    font-size: 0.75rem;
    position: absolute;
    bottom: -20px;
    left: 0;
    display: none; /* Hide the error message by default */
}

input:invalid + .error-message {
    display: block;
}

input:valid + .error-message {
    display: none;
}

input:invalid {
    border-color: red;
}

input:focus {
    border: 0;
    outline: 0;
    border-bottom: 3px solid #dfdfdf;
}

input:valid {
    outline: none;
    border: 3px solid #33747d;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 25px;
    margin-left: 25px;
}

button:hover {
    background-color: #33747d;
}

button {
    border: none;
    border: 2px solid #33747d;
    background-color: #202020;
    border-radius: 5px;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    width: fit-content;
    margin: 10px 0px;
    cursor: pointer;
}

a:hover {
    color: white;
}

a {
    color: #33747d;
    text-decoration: none;
    font-weight: bold;
}
